h1, p {
  font-family: Lato;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.thead th{
    background: #bebaba;
}
td, th {
  border: 1px solid #000;
  text-align: left;
  padding: 8px;

}

tr:nth-child(even) {
  background-color: #dddddd;
}

@media print{
	.hide-on-print{
		display: none;
	}
}
.printModal{
    width:70vw;
    max-width: 70vw;
}
.topSection{
    text-align: center;
}
.printReport{
    display: block;
    margin-bottom: 10px;
}
.mainDiv{
    margin: 5px;
}
.print-receipt tr:nth-child(even) {
  background-color: #000;
}